<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <li>Has Feathers<input type="radio" value="1" name="animalfeatures">
                    <li>Produces Eggs<input type="checkbox" value="2" name="animalfeatures">
                    <li>Produces Milk<input type="checkbox" value="3" name="animalfeatures">
                    <li>Is Airborne<input type="checkbox" value="4" name="animalfeatures">
                    <li>Is Aquatic<input type="checkbox" value="5" name="animalfeatures">
                    <li>Is a Predator<input type="checkbox" value="6" name="animalfeatures">
                    <li>Has Teeth<input type="checkbox" value="7" name="animalfeatures">
                    <li>Has a Backbone<input type="checkbox" value="8" name="animalfeatures">
                    <li>Breathes Air<input type="checkbox" value="9" name="animalfeatures">
                    <li>Is Venomous<input type="checkbox" value="10" name="animalfeatures">
                    <li>Has Fins<input type="checkbox" value="11" name="animalfeatures">
                    <li>
                    <li>Has a Tail<input type="checkbox" value="13" name="animalfeatures">
                    <li>Is Domestic<input type="checkbox" value="14" name="animalfeatures">
                    <li>Catsize<input type="checkbox" value="15" name="animalfeatures">






  {% if hair %}
                    <!--<img src="/static/images/hair.png">-->
                    <li>Has Hair</li>
                {% else %}
                    <li>Has No Hair</li>
                {% endif %}
                {% if feathers %}
                    <!--<img src="/static/images/feathers.png">-->
                     <li>Has Feathers</li>
                {% else %}
                    <li>Has No Feathers</li>
                {% endif %}
                {% if eggs %}
                    <!--<img src="/static/images/eggs.png">-->
                     <li>Produces Eggs</li>
                {% else %}
                    <li>Produces No Eggs</li>
                {% endif %}
                {% if milk %}
                    <!--<img src="/static/images/milk.png">-->
                     <li>Produces Milk</li>
                {% else %}
                    <li>Produces No Milk</li>
                {% endif %}
                {% if airborne %}
                    <!--<img src="/static/images/airborne.png">-->
                     <li>Can Fly</li>
                {% else %}
                    <li>Cannot Fly</li>
                {% endif %}
                {% if aquatic %}
                    <!--<img src="/static/images/aquatic.png">-->
                     <li>Is Aquatic </li>
                {% else %}
                    <li>Is Not Aquatic</li>
                {% endif %}
                {% if predator %}
                    <!--<img src="/static/images/predator.png">-->
                     <li>Is A Predator</li>
                {% else %}
                    <li>Is Not A Predator</li>
                {% endif %}
                {% if teeth %}
                    <!--<img src="/static/images/toothed.png">-->
                     <li>Has Teeth</li>
                {% else %}
                    <li>Does Not Have Teeth</li>
                {% endif %}
                {% if backbone %}
                    <!--<img src="/static/images/backbone.png">-->
                     <li>Has A Backbone</li>
                {% else %}
                    <li>Does Not Have Backbone</li>
                {% endif %}
                {% if breathes %}
                    <!--<img src="/static/images/breathes.png">-->
                     <li>Can Breathe Oxygen</li>
                {% else %}
                    <li>Does Not Breathe Oxygen</li>
                {% endif %}
                {% if venomous %}
                    <!--<img src="/static/images/venomous.png">-->
                     <li>Is Venomous</li>
                {% else %}
                    <li>Is Not Venomous</li>
                {% endif %}
                {% if fins %}
                    <!--<img src="/static/images/fins.png">-->
                     <li>Has Fins</li>
                {% else %}
                    <li>Has No Fins</li>
                {% endif %}

                     <li>Has {{legs}} legs</li>


                {% if tail %}
                    <!--<img src="/static/images/tail.png">-->
                     <li>Has Tail</li>
                {% else %}
                    <li>Has No Tail</li>
                {% endif %}
                {% if domestic %}
                    <!--<img src="/static/images/domestic.png">-->
                     <li>Is Domestic</li>
                {% else %}
                    <li>Is Not Domestic</li>
                {% endif %}
                {% if catsize %}
                    <!--<img src="/static/images/domestic.png">-->
                     <li>Is Catsize</li>
                {% else %}
                    <li>Is Not Catsize</li>
                {% endif %}
</head>
<body>

</body>
</html>