<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Animal Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <br>
        <form action="prediction" method="post">
            <p>What type of animal are you? Pick your qualities below!</p>
            <br>
            <fieldset>
                <legend>Choose your animal qualities</legend>
                <p>(Check all boxes that apply)</p>

                    <div id="animalfeatures">
                        <label for="hair" >Has Hair</label>
                        <p>Yes<input type="radio" value="1" name="0" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="0" ></p>
                    </div>
                    <div>
                        <label for="feathers">Has Feathers</label>
                        <p>Yes<input type="radio" value="1" name="1" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="1"></p>
                    </div>
                    <div>
                        <label for="eggs">Produces Eggs</label>
                        <p>Yes<input type="radio" value="1" name="2" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="2"></p>
                    </div>
                    <div>
                        <label for="milk">Produces Milk</label>
                        <p>Yes<input type="radio" value="1" name="3" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="3"></p>
                    </div>
                    <div>
                        <label for="airborne">Is Airborne</label>
                        <p>Yes<input type="radio" value="1" name="4" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="4"></p>
                    </div>
                    <div>
                        <label for="aquatic">Is Aquatic</label>
                        <p>Yes<input type="radio" value="1" name="5" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="5"></p>
                    </div>
                    <div>
                        <label for="predator">Is a Predator</label>
                        <p>Yes<input type="radio" value="1" name="6" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="6"></p>
                    </div>
                    <div>
                        <label for="teeth">Has Teeth</label>
                        <p>Yes<input type="radio" value="1" name="7" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="7"></p>
                    </div>
                    <div>
                        <label for="backbone">Has a Backbone</label>
                        <p>Yes<input type="radio" value="1" name="8" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="8"></p>
                    </div>
                    <div>
                        <label for="breathes">Breathes Air</label>
                        <p>Yes<input type="radio" value="1" name="9" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="9"></p>
                    </div>
                    <div>
                        <label for="venomous">Is Venomous</label>
                        <p>Yes<input type="radio" value="1" name="10" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="10"></p>
                    </div>
                    <div>
                        <label for="fins">Has Fins</label>
                        <p>Yes<input type="radio" value="1" name="11" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="11"></p>
                    </div>
                    <div>
                        <label for="legs">How Many Legs:</label>
                        <select name="legs" id="legs">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <div>
                        <label for="tail">Has a Tail</label>
                        <p>Yes<input type="radio" value="1" name="13" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="13"></p>
                    </div>
                    <div>
                        <label for="domestic">Is Domestic</label>
                        <p>Yes<input type="radio" value="1" name="14" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="14"></p>
                    </div>
                    <div>
                        <label for="catsize">Is Catsize</label>
                        <p>Yes<input type="radio" value="1" name="15" checked="checked"></p>
                        <p>No<input type="radio" value= "0" name="15"></p>
                    </div>
            </fieldset>
            <br>
            <input type="submit" value="Predict" id="predict">
            <br>
        </form>
        <!--After prediction is made -->
        <form action="learnmore" method="post">
            {% for message in get_flashed_messages()%}
                <a href="{{link}}" target = "_blank" id="link">{{message}}</a>
            {% endfor %}
            <br>
            <fieldset>
                <legend>
                    {{reveal_msg}}
                </legend>
                {% for animal in predicted_list %}
                    <li>{{animal}}</li>
                {% endfor %}
            </fieldset>
            <br>
            {% if reveal_traits %}
            <fieldset>
                <legend>Chosen Traits</legend>

                {% if hair %}
                    <!--<img src="/static/images/hair.png">-->
                    <li>Has Hair</li>

                {% endif %}
                {% if feathers %}
                    <!--<img src="/static/images/feathers.png">-->
                     <li>Has Feathers</li>

                {% endif %}
                {% if eggs %}
                    <!--<img src="/static/images/eggs.png">-->
                     <li>Produces Eggs</li>

                {% endif %}
                {% if milk %}
                    <!--<img src="/static/images/milk.png">-->
                     <li>Produces Milk</li>

                {% endif %}
                {% if airborne %}
                    <!--<img src="/static/images/airborne.png">-->
                     <li>Can Fly</li>

                {% endif %}
                {% if aquatic %}
                    <!--<img src="/static/images/aquatic.png">-->
                     <li>Is Aquatic </li>

                {% endif %}
                {% if predator %}
                    <!--<img src="/static/images/predator.png">-->
                     <li>Is A Predator</li>

                {% endif %}
                {% if teeth %}
                    <!--<img src="/static/images/toothed.png">-->
                     <li>Has Teeth</li>

                {% endif %}
                {% if backbone %}
                    <!--<img src="/static/images/backbone.png">-->
                     <li>Has A Backbone</li>

                {% endif %}
                {% if breathes %}
                    <!--<img src="/static/images/breathes.png">-->
                     <li>Can Breathe Air</li>

                {% endif %}
                {% if venomous %}
                    <!--<img src="/static/images/venomous.png">-->
                     <li>Is Venomous</li>

                {% endif %}
                {% if fins %}
                    <!--<img src="/static/images/fins.png">-->
                     <li>Has Fins</li>

                {% endif %}

                     <li>Has {{legs}} legs</li>


                {% if tail %}
                    <!--<img src="/static/images/tail.png">-->
                     <li>Has Tail</li>

                {% endif %}
                {% if domestic %}
                    <!--<img src="/static/images/domestic.png">-->
                     <li>Is Domestic</li>

                {% endif %}
                {% if catsize %}
                    <!--<img src="/static/images/domestic.png">-->
                     <li>Is Catsize</li>

                {% endif %}
            </fieldset>
            {% endif %}

            {% if data_button %}
                <input type="submit" value="Learn more about how we predicted {{predicted_animal}}!" id="learnmore">
            {% endif %}

        </form>
            {% if reveal_data %}
            <fieldset>
                <legend>
                    Data used to make your prediction
                </legend>
                <fieldset>
                    <p>Predicted output was generated using a machine learning algorithm on a dataset containing various animals.</p>
                    <p>The total number of animals in our dataset can be seen in the top left graph.</p>
                    <p>Graphs with Y-Values between 0 - 1 represent the liklihood an animal in our dataset contains that quality.</p>
                    <p>The Y-Values found in the leg graph represents the average number of legs contained within our dataset.</p>
                </fieldset>
                <img src='/static/images/count.png'>
                <img src="/static/images/hair.png">
                <img src="/static/images/feathers.png">
                <img src="/static/images/eggs.png">
                <img src="/static/images/milk.png">
                <img src="/static/images/airborne.png">
                <img src="/static/images/aquatic.png">
                <img src="/static/images/predator.png">
                <img src="/static/images/toothed.png">
                <img src="/static/images/backbone.png">
                <img src="/static/images/breathes.png">
                <img src="/static/images/venomous.png">
                <img src="/static/images/fins.png">
                <img src="/static/images/legs.png">
                <img src="/static/images/tail.png">
                <img src="/static/images/domestic.png">
                <img src="/static/images/catsize.png">
                {% endif %}
            </fieldset>
    </body>
</html>