<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Animal Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="images/cats.jpg">
        <br>
        <form action="prediction" method="post">
            {% for message in get_flashed_messages()%}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="name_input">
            <br>
            Hair Hair<input type="checkbox" value="0" name="animalfeatures">
            Has Feathers<input type="checkbox" value="1" name="animalfeatures">
            Produces Eggs<input type="checkbox" value="2" name="animalfeatures">
            Produces Milk<input type="checkbox" value="3" name="animalfeatures">


            <input type="submit" value="Predict" id="predict">
        </form>
    </body>
</html>