<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Animal Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <!--<img src="images/cats.jpg">-->
        <br>
        <form action="prediction" method="post">
            <p>What type of animal are you? Pick your qualities below!</p>
            <br>
            <fieldset>
                <legend>Choose your animal qualities</legend>
                <p>(Check all boxes that apply)</p>
                <dl>
                    <li>Hair Hair<input type="checkbox" value="0" name="animalfeatures">
                    <li>Has Feathers<input type="checkbox" value="1" name="animalfeatures">
                    <li>Produces Eggs<input type="checkbox" value="2" name="animalfeatures">
                    <li>Produces Milk<input type="checkbox" value="3" name="animalfeatures">
                    <li>Is Airborne<input type="checkbox" value="4" name="animalfeatures">
                    <li>Is Aquatic<input type="checkbox" value="5" name="animalfeatures">
                    <li>Is a Predator<input type="checkbox" value="6" name="animalfeatures">
                    <li>Has Teeth<input type="checkbox" value="7" name="animalfeatures">
                    <li>Has a Backbone<input type="checkbox" value="8" name="animalfeatures">
                    <li>Breathes<input type="checkbox" value="9" name="animalfeatures">
                    <li>Is Venomous<input type="checkbox" value="10" name="animalfeatures">
                    <li>Has Fins<input type="checkbox" value="11" name="animalfeatures">
                    <li><label for="legs">How Many Legs:</label>
                    <select name="legs" id="legs">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <li>Has a Tail<input type="checkbox" value="13" name="animalfeatures">
                    <li>Is Domestic<input type="checkbox" value="14" name="animalfeatures">
                    <li>Shape of a Cat<input type="checkbox" value="15" name="animalfeatures">
                </dl>
            </fieldset>
            <br>
            <input type="submit" value="Predict" id="predict">
            <br>
        </form>
        <!--After prediction is made -->
        <form>
            {% for message in get_flashed_messages()%}
                <a href="{{link}}" target = "_blank" id="link">{{message}}</a>
            {% endfor %}
            <br>
            <fieldset>
                <legend>
                    {{reveal_msg}}
                </legend>
                {% for animal in predicted_list %}
                    <li>{{animal}}</li>
                {% endfor %}
            </fieldset>


        </form>
    </body>
</html>